* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
  font-family: sans-serif;
}

#result {
  margin: 0.67em 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#fileToUpload {
  margin: 0.67em 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.kw-container--outer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.kw-container--inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
}

.kw-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.kw-container--hidden {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7em;
  color: aliceblue;
  border-radius: 10px;
  background: #040045;
  background: -moz-linear-gradient(left, #040045 0%, #2c2789 100%);
  background: -webkit-linear-gradient(left, #040045 0%, #2c2789 100%);
  background: linear-gradient(to right, #040045 0%, #2c2789 100%);
}

.wc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.URL-input-container--left {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}
.URL-input-container--right {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.upload-button {
  margin: 0.67em;
  font-size: 1em;
  padding: 0.5em;
  width: 7em;
  border-radius: 10px;
  justify-self: center;
  cursor: pointer;
  height: 3em;
}

.upload-button:hover {
  cursor: pointer;
  background: #cacaca;
  box-shadow: inset 9px 9px 18px #b4b4b4, inset -9px -9px 18px #e0e0e0;
}
.submit-button {
  margin: 0.67em 0;
  border-radius: 10px;
  padding: 0.5em;
  font-size: 1.5em;
  width: 25%;
  justify-self: center;
  cursor: pointer;
  background-color: #060070;
  color: aliceblue;
}

.submit-button:hover {
  background: #0800bd;
  box-shadow: inset 9px 9px 18px #0700a8, inset -9px -9px 18px #0900d2;
}

.upload-forms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.str-results {
  font-size: 1.2em;
  width: 50%;
  padding: 0.5em;
  white-space: wrap;
  margin: 0.25em 1em;
  border: 2px solid black;
}

.input-box {
  margin: 0.5em;
  padding: 0.75em;
  border-radius: 10px;
  border: 1px solid black;
  background: #ffffff;
  box-shadow: inset 9px 9px 18px #e3e3e3, inset -9px -9px 18px #ffffff;
}

td {
  padding: 0.25em;
  border: 1px solid #cacaca;
  justify-content: center;
  align-items: center;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 1px solid #cacaca;
  width: 50%;
  margin: 2em;
}

p {
  display: inline-block;
}

.inserted-text {
  background-color: #aeffae;
}

.removed-text {
  background-color: #ff9b9b;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.outer-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}
@media screen and (max-width: 600px) {
  .submit-button {
    width: 50%;
    font-size: 0.5em;
  }
  .input-box {
    width: 50%;
  }
  h1 {
    text-align: center;
    font-size: 1.25em;
  }
}

@media screen and (max-width: 1024px) {
  .submit-button {
    font-size: 1.25em;
  }
  .input-box {
    width: 75%;
  }
  h1 {
    text-align: center;
    font-size: 1.5em;
  }
}

ins {
  background-color: #aeffae;
  text-decoration: none;
}
del {
  background-color: #ff9b9b;
  text-decoration: none;
}

.red-box {
  height: 20px;
  width: 20px;
  background-color: red;
}
.green-box {
  height: 20px;
  width: 20px;
  background-color: green;
  margin: 1em;
}

.key-text {
  margin: 0.25em;
}

.text-green {
  background-color: #aeffae;
}
.text-red {
  background-color: #ff9b9b;
}
.underline {
  text-decoration: underline;
}
